@charset "UTF-8";

/*
	Main CSS
	Author: Stefan Hälldahl
	Date: 2018-10-21
*/

/* Colors */
$text-primary: #fdfdfd;
$text-secondary: #e6e6e6;
$back-primary: #1b1b1b;
$item-primary: #209cee;

/* Extends */
%content-shared {
	position: relative;
	overflow: hidden;
	background-color: $text-primary;
	max-width: 960px;
	margin: 0 auto 40px auto;
}

/* Fonts */
@font-face {
    font-family: 'abelregular';
    src: url('../webfonts/abel-regular-webfont.woff2') format('woff2'),
         url('../webfonts/abel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Default settings */
body {
	color: $back-primary;
	background-color: $text-primary;
	font-family: 'abelregular', sans-serif;
	font-size: 1.1em;
	line-height: 1.5em; /* Make larger line height than default */
	text-align: justify;
	margin: 0;          /* Zero margins as some browsers add them by default */
	padding: 0;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	font-weight: 700;
	line-height: 1.2em;
	text-align: center;
}
h1 {
	font-size: 5em;
	text-transform: uppercase;
}
h2 {
	font-size: 2em;
	margin-bottom: 50px;
}
h3 { font-size: 1.2em; }
h4 { font-size: 1em; }
h5 { font-size: 0.8em; }
h6 { font-size: 0.7em; }

/* Paragraphs */
p {
	margin-top: 2%;
	margin-bottom: 2%;
}

/* Anchors */
a {
	color: $back-primary;
	font-weight: bold;
	text-decoration: none;
	:hover { cursor: pointer; }
}
i:hover { cursor: pointer; }

/* Icon sizes */
i { font-size: 1.5em; }
.icon { font-size: 1.5em; }

/* Main container */
.container {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	margin: 0 auto;
	:after { clear: both }
}

/* Content gets padding to left and right */
.content {
	padding-left: 1%;
	padding-right: 1%;
}

/* Header with full page image at top */
header
{
	position: relative;
	height: 100vh;
	color: $text-primary;
	margin-bottom: 30px;
	background-image: url('../images/main_header.jpg');
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-size: cover; 
	align-items: center;
	.icons {
		position: absolute;
		top: 1.5vh;
		right: 1.5vw;
		a { color: $text-primary; }
		a:last-child { 
			padding-left: 20px;
		}
	}
}

/* Header as small variant for subpages */
.header-sm { height: 25vh; }

#down {
	position: absolute;
	top: 90vh;
	:hover { cursor: pointer; }
}
#top:hover { cursor: pointer; }

/* Info section */
#infos {
    padding: 50px 15px;
    text-align: center;

	/* Used for multiple items like projects on main page */
	article {
		@extend %content-shared;
		img { float: left; }
		.info {
			width: calc(96% - 300px);
			float: left;
			text-align: left;
			padding: 2%;
			h3 { text-align: left; }
		}
		a {
			position: absolute;
			top: 1.5vh;
			right: 1.5vw;
		}
	}

	/* Used for single item like login or itemedit on subpages */
	section {
		@extend %content-shared;
		.info {
			width: 96%;
			float: left;
			text-align: left;
			padding: 2%;
		#submit { float: right; }
		input, textarea {
			width: 100%;
			padding: 10px;
			margin-top: 6px;
			margin-bottom: 16px;
			border: 1px solid $text-secondary;
			box-sizing: border-box;
			resize: vertical /* Textarea can only resize vertically */
		}
		}
	}
}

img { max-width: 100%; } /* Dynamic images */
.row-dark {	background-color: $text-secondary; }
.mobile { display: none; } /* Class that is visible on mobiles only */

/* Main footer */
footer {
	clear: both; /* Clear all floats above */
	color: $back-primary;
	text-align: center;
	margin-top: 40px;
	padding: 30px 0 30px 0;
	position: relative;
	.container {
		max-width: 960px;
    	height: 36px;
		margin-bottom: 36px;
	}
	.company { float: left; }
	.icons { float: right; }
	.icons a:nth-child(odd) { padding-right: 20px; }
	.arrow {
		position: absolute;
		left: 50%;
	}
}

/* Tablet media queries */
@media (max-width: 960px) {

	header { height: 50vh; } /* Reduce height of header image at small resolutions */
	h1 { font-size: 4em; }

	footer {
		.company { padding-left: 20px; }
		.icons { padding-right: 20px; }
	}

	.desktop { display: none; } /* Class that is visible on desktops only */
}

/* Phone media queries */
@media (max-width: 640px) {

	h1 { font-size: 3em; }  /* Main heading (name) size */

	#infos article {
		img { display: none; } /* Remove projekt images on phones... */
		.info { width: 96%; }  /* ...and let info take more space    */
	}

	.mobile { display: inline-block; } /* Class that is visible on phones only */
	.nomobile { display: none; }
}
